.OrderList{
    margin: auto;
    width: 70%;
}
.Header{
	margin: auto;
	width: 90%;
	height: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
    padding-bottom: 40px;
}

.OrderHeading{
	font-size: 30px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #2F3841;
}